body {
    font-family: Arial, sans-serif;
}

body {
    color: #000000;
    background-color: #bababa;
}

.subheader {
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px;
}

/* Removes underline and diff color */
a {
    text-decoration: none;
    color: rgb(255, 0, 17);
}

/* highlight link color */
a:hover {
    color: #ff000030;
}

header {
    background-color: rgb(38, 0, 255);
    color: rgb(255, 187, 0);
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.subheader h2 {
    font-size: 24px;
    margin: 0;
}
