body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: rgb(144, 0, 0);
    text-align: center;
    padding: 1rem;
}

.subheader {
    background-color: #780000;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 1rem;
}

.column {
    flex: 1;
    flex-basis: 23%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #3b0000;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.column img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
