* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #520000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the nav links horizontally */
}

nav li {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

nav li:hover {
    background-color: #2974ff;
}

.active {
    border-bottom: 2px solid #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    margin-top: 20px;
}

.input-group {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.input-group input[type="text"],
.input-group input[type="number"] {
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 16px;
}

.input-group button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #3c8eff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.fund-raising {
    margin: 20px 0;
    width: 100%; 
    height: 20px;
    background-color: #eee;
    position: relative;
}

.progress {
    width: 0; 
    height: 100%;
    background: linear-gradient(to right, #000000, #40ff00); /* Gradient color */
}

/* Initially hide Exercise 2 content */
#exercise2-content {
    display: none;
}

/* Small screens media query */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000000;
        z-index: 1;
        transition: 0.3s;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #610000;
    }

    .menu-toggle.active + nav {
        display: flex;
    }

    main {
        max-width: 100%;
        margin: 0;
    }
}
