body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.column {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #8e8e8e;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="text"], textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    animation: moveAndChangeColor 4s linear infinite;
}

@keyframes moveAndChangeColor {
    0% {
        background-color: #3498db;
        transform: translateX(0) translateY(0);
    }
    25% {
        background-color: #e74c3c;
        transform: translateX(100px) translateY(0);
    }
    50% {
        background-color: #2ecc71;
        transform: translateX(100px) translateY(100px);
    }
    75% {
        background-color: #f1c40f;
        transform: translateX(0) translateY(100px);
    }
    100% {
        background-color: #3498db;
        transform: translateX(0) translateY(0);
    }
}

#imageContainer {
    display: none;
}

#animationContainer {
    position: relative;
    height: 200px;
}

#commentsContainer {
    margin-top: 10px;
}

.comment {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center-align columns */
    }

    .column {
        flex: none; /* Reset column flex property */
        width: 90%;
    }
}